
.container h1,p{
  text-align: center;
}
.btns{
  display: flex;
  margin: 20px 10px;
  align-items: center;
  justify-content: space-between;
}
 button{
  font-size: 16px;
  color:white;
  border: none;
  margin-right: 6px;
  border-radius: 10px;
 padding: 5px 12px;
}
 .red-btn{
  background-color: red;
}
.green-btn{
  background-color: green;
}
.input{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:10px;
}
.input input{
  width: 70%;
  padding: 5px;
}
.privacy-btn{
  background-color: yellow;
  color: navy;
}
.reset-btn{
  background-color: blue;
  color: white;
  width: 100%;
  padding: 5px;
  border:none;
  border-radius:10px;
  margin-top: 10px;
}