*{
  margin: 0;
  padding: 0;
}
.container{
  height: 100vh;
}
.button-box{
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  position: fixed;
  bottom: 0;
  margin-left:20vw;
}
.color-btn{
  color:white;
  padding:10px 20px;
  margin:8px 5px;
  border:none;
  border-radius: 15px;
}
